body {margin:0px;
padding:0px;
font-family: "Overpass";
background-color:hsl(216, 12%, 8%) ;
color: aliceblue;
}
#container {height:350px;
width:350px;
background:linear-gradient( hsl(213, 19%, 18%), hsl(221, 33%, 11%));
display: flex;
flex-direction: column;
margin:280px auto;
border-radius: 20px;}
#content-part {height: 85% ;
margin:auto auto;
width: 87%;}
#star {height: 40px;
    width:40px;
    
display: flex;
background-color:hsl(211, 23%, 22%);
border-radius: 50%;
align-items: center;
justify-content: center;}



#title {
text-align: left;
width:100%;
margin-top:25px;
}
#title>h1 {margin:0px;
font-family: "Overpass";
font-size: 28px;}
#text {margin:0px auto;
    text-align: left;
    width:100%;
margin-top:10px}
    #text>p {margin:0px;
    font-family: "Overpass";
font-size: 15px;

color:hsl(216, 12%, 54%)}
#numbers-cont {display: flex;
    flex-direction: row;
gap:20px;
text-align: center;
justify-content: center;
margin-top:20px;
}
#num {width: 45px;
height:45px;
background-color:hsl(211, 23%, 22%);
vertical-align: middle;
color:hsl(216, 12%, 54%);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;}
#num-p {text-align: center;
vertical-align: middle;}
#bttn-cont {width:100%;
height: 38px;
margin-top:28px
}
#submit {width:100%;
height: 100%;
border-radius: 20px;
background-color: hsl(25, 97%, 53%);
color: hsl(0, 0%, 100%);
font-family: "Overpass";
font-weight: 700;
border: none;}


/* Active States*/
#num:focus {background-color:hsl(25, 97%, 53%);
color:white} 
#num:hover {background-color:hsl(217, 12%, 63%);
    color:white} 

    #num:active {background-color:hsl(25, 97%, 53%);
        color:white} 

#submit:active {background-color: white;
color: hsl(25, 97%, 53%)}


